[Unit]
Description=NewYorkCoin's distributed currency daemon
After=network.target

[Service]
User=dogecoin
Group=dogecoin

Type=forking
PIDFile=/var/lib/newyorkcoind/newyorkcoind.pid
ExecStart=/usr/bin/newyorkcoind -daemon -pid=/var/lib/newyorkcoind/newyorkcoind.pid \
-conf=/etc/dogecoin/dogecoin.conf -datadir=/var/lib/newyorkcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
